.register {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/register.svg');
    padding: 0 120px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;

    .form-register {
        background-color: #ffffffbf;
        border-radius: 40px;
        padding:  30px 45px;
        width: 400px;

        .form-title {
            color: #0F5439;
            font-weight: 500;
            margin-bottom: 15px;
        }

        .input {
            background-position-x: 5%;
            border: 1px solid #BABABA;
            border-radius: 8px;
            font-size: 14px;
            width: 100%;
        }

        .input:focus {
            outline: none;
        }

        .input::placeholder {
            color: #BABABA;
        }

        .icon {
            position: absolute;
            margin: 11px 0 11px 15px;
            color: #BABABA;
        }

        .icon-sm {
            margin: 5px 0 5px 10px !important;
        }

        .input-lg {
            padding: 11px 10px 11px 40px;
        }

        .input-sm {
            padding: 5px 5px 5px 30px !important;
            width: 98% !important;
        }

        .register-button {
            background-color: #10AC70;
            color: #ffffff;
            padding: 15px 0;
            border-radius: 10px;
            border: none;
            width: 100%;
        }

        .error {
            color: #ff0000;
            font-size: 12px;
            text-align: left;
        }

        .error-input {
            border: 1px solid #ff00008f;
            color: #ff00008f !important;
        }
        .error-input::placeholder {
            color: #ff000079;
        }

        .icon-error {
            color: #ff00008f;
        }

        .has-account {
            color: #0F5439;
            font-weight: 500;

            .log-here {
                color: #0ACF83;
                font-weight: 700;
            }
        }
    }
}